<div class="background">
  <main class="container">
    <img
      src="../../../../assets/picpay-logo.svg"
      alt="Pic Pay logo"
      class="picpay-logo"
    />

    <app-loading-indicator
      *ngIf="isLoading"
      style="flex: 0.8"
      class="flex-center"
    ></app-loading-indicator>

    <form
      *ngIf="!isLoading"
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="login-inputs-container">
        <app-text-input
          [control]="loginForm.controls.username"
          label="Nome de usuário"
          autocomplete="username"
          name="username"
          placeholder="Digite o nome de usuário..."
        ></app-text-input>

        <app-password-input
          [control]="loginForm.controls.password"
          label="Senha"
          placeholder="Digite sua senha..."
        >
        </app-password-input>
      </div>

      <app-button class="button" type="submit">Entrar</app-button>
    </form>
  </main>
</div>
