<div class="surface">
  <div class="surface-header">
    <app-text-input
      width="360px"
      [control]="searchControl"
      label="Pesquisar"
      placeholder="Pesquisar..."
    ></app-text-input>
    <app-button (buttonClick)="openDialog()">Adicionar</app-button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="payments">
      <!-- First Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.value | currency : "R$ " }}
        </td>
      </ng-container>

      <!-- isPayed Column -->
      <ng-container matColumnDef="isPayed">
        <th mat-header-cell *matHeaderCellDef>Pago</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.isPayed"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <app-icon-button
            (buttonClick)="openDialog(element)"
            matSuffix
            tooltip="Editar"
            buttonAreaLabel="Editar"
            iconName="edit"
          ></app-icon-button>
          <app-icon-button
            matSuffix
            tooltip="Deletar"
            buttonAreaLabel="Deletar"
            iconName="delete"
          ></app-icon-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
      class="mat-paginator-sticky"
    >
    </mat-paginator>
  </div>
</div>
