<div class="surface">
  <div class="surface-header">
    <app-text-input
      width="360px"
      [control]="searchControl"
      label="Pesquisar"
      placeholder="Pesquisar..."
    ></app-text-input>
    <app-button
      style="margin-bottom: 20px"
      (buttonClick)="openPaymentFormModal()"
    >
      Adicionar
    </app-button>
  </div>

  <app-loading-indicator
    *ngIf="getPaymentsService.isLoading"
    style="flex: 1"
    class="flex-center"
  ></app-loading-indicator>

  <app-dashboard-table
    *ngIf="!getPaymentsService.isLoading"
    [payments]="payments"
    (deleteClick)="openDeleteModal($event)"
    (editClick)="openPaymentFormModal($event)"
  ></app-dashboard-table>
</div>
