<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [type]="hide ? 'password' : 'text'"
    [placeholder]="placeholder"
    [name]="name"
  />
  <mat-error>
    <small>{{ errorMessage }}</small>
  </mat-error>
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>
