<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [type]="isHidden ? 'password' : 'text'"
    [placeholder]="placeholder"
    [name]="name"
  />
  <mat-error>
    <small>{{ errorMessage }}</small>
  </mat-error>
  <app-icon-button
    (click)="isHidden = !isHidden"
    matSuffix
    [tooltip]="isHidden ? 'Mostrar senha' : 'Esconder senha'"
    [attr.aria-label]="isHidden ? 'Mostrar senha' : 'Esconder senha'"
    [attr.aria-pressed]="isHidden"
  ></app-icon-button>
</mat-form-field>
